@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'PolySans';
    src: url('/fonts/PolySans Neutral.ttf') format('truetype');
    font-weight: 400; /* Normal */
    font-style: normal;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hover-underline:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 6px;
}

.underline-thin {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 6px;
  text-decoration-color: #3cffd0;
}